<link rel="stylesheet" href="/css/index.css">
<title>Login into Band Aid</title>

<div class="bg">
    <!--------------------------------------------------- Search Table --------------------------------------------------------->
    </br></br></br> <!----Temp Fix ---->
    
    <!--Content wrapper-->
    <div class="container">

        <!--Form wrapper-->
        <div class="col-md-12 mx-auto shadow-border form-bg">

            <!--Header Text-->
            <div class="container">
                <h1 class="text-center">Search Results for {{instrument}} Musicians at {{zip}}</h1>
            </div>

            <!--New Search Button-->
            <div class="col-md-5 mx-auto form-group">
                <a class="btn btn-block g-button" href="/search/q1/{{uid}}">
                    <i class="fa fa-google"></i> New Search
                </a>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                    {{#if matches}}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Musician</th>
                            <th scope="col">Proficiency</th>
                            <th scope="col">Demo</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        {{#each matches}}
                        <tr>
                            <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" >
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                            </td>
                            <td>{{fname}} {{lname}}</td>
                            <td>{{level}}</td>
                            <td><a href="{{demo_link}}">Link</a></td>
                        </tr>
                        {{/each}}
                        
                        
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>

            <div class="form-group text-center" style="width: 70%; margin:auto;">
                <label for="queryDesc">Tell them what you are looking for!</label>
                <textarea class="form-control"  rows="3"></textarea>
            </div>
                        
            <br>                    
            <div class="col-md-5 mx-auto form-group">
                    <a class="btn btn-block send-button" href="/user_id/inbox">
                        <i class="fa fa-google"></i> Invite Musicians
                    </a>
                    
            </div>
            {{else}}
            <div class="container">
                <h2 class="text-center">No Musicians Found</h2>
            </div>
            {{/if}}   
                         
    </div>
    <!-- Content wrapper -->
</div>