
﻿<link rel="stylesheet" href="/css/user_profile.css">
<title>Welcome {{user_profile.fname}}</title>

<!--------------------------------------------------- Profile --------------------------------------------------------->
<!-- credit - https://bootsnipp.com/snippets/K0ZmK -->
</br>
<div class="container emp-profile">
    <!--    <form method="post">-->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                {{#if user_profile.profile_image_data}}
                {{else}}
                    <img src="{{user_profile.profile_image}}"/>
                {{/if}}

                <form id="theImageForm"
                      action="/user_profile/edit/profile_image/{{user_profile.id}}"
                      method="post"
                      enctype="multipart/form-data">
                    <label class="btn btn-primary" for="upload_pic">Change Profile Pic</label>
                    <input id="upload_pic"
                           type="file" id="theImageField"
                           accept="image/png, image/jpeg"
                           name="image">

                    <!--                        <p id="errorMessage" class="hide"></p>-->
                    <!--                        <p id="successMessage" class="hide"></p>-->
                    <input class="hide_button" type="submit" name="notbutton" value="upload">
                    <script>
                            document.querySelector('input[type=file]').addEventListener('change', function () {
                            this.form.submit();
                            });
                    </script>

                    <!--                        <a href="" id="clearImage">Clear</a>-->
                </form>


            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{user_profile.fname}}, {{user_profile.lname}}
                </h5>
                <h6>
                    Zip Code: {{user_profile.zip}}
                </h6>
                <p class="profile-rating">Skill Level : <span>{{user_profile.insProficiency}}</span></p>
                <!--Need to replace with new DB----->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                           aria-selected="true">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">User Profile</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a class="profile-edit-btn" href="/user_profile/edit/{{user_profile.id}}">Edit/Delete Profile</a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>Social Media</p>
                <a class="social_link" href="{{user_profile.social}}" target="_blank">{{user_profile.social}}</a><br/>
                <p>Music Sample</p>
                <a class="social_link" href="{{user_profile.demo_link}}" target="_blank">{{user_profile.demo_link}}</a><br/>
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane inbox_body fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="col-md-6 column">
                        <ul class="nav nav-tabs " id="msg_nav" style="list-style: none;">
                            <li class="nav-item"><a class="nav-link active inbox_button" href="#recieved" role="tab" data-toggle="tab">Recieved  <span id="alertcounter" class="badge badge-danger"></span></a></li>
                            <li class="nav-item"><a class="nav-link inbox_button" href="#sent" role="tab" data-toggle="tab">Sent</a></li>
                        </ul>
                    </div>


                    <div class="col-md-8 tab-content">

                        <div role="tabpanel" class="tab-pane inbox_container table-responsive active" id="recieved">
                            {{#if messages}}
                            <table class="table table-bordered inbox_tables">
                                <thead>
                                <td class="adcell">
                                    Title
                                </td>
                                <td>
                                    Content
                                </td>
                                <td>
                                    Accept/Decline
                                </td>
                                </thead>
                                <tbody>
                                    <script>var counter = 0</script>
                                    {{#each messages}}
                                    <tr>
                                        <td>
                                            {{header}}
                                        </td>
                                        <td>
                                            {{body}}
                                        </td>
                                        <td>
                                            {{#if req_response}}

                                            <button type="button" class="accept_btn" onclick="msgRespond('accept', {{inbox_id}}, {{sender_id}}, {{msg_id}} )">Accept</button>
                                            <button type="button" class="decline_btn" onclick="msgRespond('decline', {{inbox_id}}, {{sender_id}}, {{msg_id}} )">Decline</button>
                                            {{/if}}
                                        </td>

                                        <script>counter++</script>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <script>document.getElementById('alertcounter').innerHTML = counter</script>
                            {{else}}

                            <div class="container"> <h2 class="text-center">No new messages</h2></div>

                            {{/if}}
                        </div>

                        <div role="tabpanel" class="tab-pane table-responsive inbox_container" id="sent">
                            {{#if sent}}
                            <table class="table table-bordered inbox_tables">
                                <thead>
                                <td class="adcell">
                                    Title
                                </td>
                                <td>
                                    Content
                                </td>

                                </thead>
                                <tbody>

                                    {{#each sent}}
                                    <tr>
                                        <td>
                                            {{header}}
                                        </td>
                                        <td>
                                            {{body}}
                                        </td>


                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                            {{else}}

                            <div class="container"> <h2 class="text-center">You have no sent messages</h2></div>

                            {{/if}}
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Primary Instrument</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user_profile.insName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Looking for gig?</label>
                        </div>
                        <div class="col-md-6">
                            {{#if user_profile.lfg}}
                            <p>Yes</p>
                            {{else}}
                            <p>No</p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user_profile.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user_profile.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    </form>-->
    </br>
    </br>
    <input type="button" value="Search" class="btn btn-block g-button"
           onclick="window.location.href='/search/{{user_profile.id}}'">
</div>

