<link rel="stylesheet" href = "/css/user_profile.css">
<title>Welcome {{user_profile.fname}}</title>

<!--------------------------------------------------- Profile --------------------------------------------------------->
<!-- credit - https://bootsnipp.com/snippets/K0ZmK -->
</br>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/images/Tom.jfif"/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{user_profile.fname}}, {{user_profile.lname}}
                    </h5>
                    <h6>
                        {{user_profile.zip}}
                    </h6>
                    <p class="proile-rating">Skill Level : <span>{{user_profile.insProficiency}}</span></p> <!--Need to replace with new DB----->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">User Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Inbox</a>
                        </li>
                     </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a class="profile-edit-btn" href="/user_profile/edit/{{user_profile.id}}">Edit/Delete Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Social Media</p>
                    <a href="{{user_profile.social}}" target="_blank">Check Me Out</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        
                                <div class="col-md-6 column">
                                    <ul class="nav nav-tabs " id="msg_nav" style="list-style: none;">
                                        <li class="nav-item"><a class="nav-link active inbox_button" href="#recieved" role="tab" data-toggle="tab">Recieved  <span id="alertcounter" class="badge badge-danger"></span></a></li>
                                        <li class="nav-item"><a class="nav-link inbox_button" href="#sent" role="tab" data-toggle="tab">Sent</a></li>
                                        <li class="nav-item"><a class="nav-link inbox_button" href="#pending" role="tab" data-toggle="tab">Pending</a></li>
                                    </ul>
                                </div>
                               

                                <div class="col-md-6 tab-content">
                                    
                                    <div role="tabpanel" class="tab-pane active" id="recieved">
                                        {{#if messages}}
                                        <table class="table table-bordered inbox_tables">
                                            <thead>
                                                <td>
                                                    Title
                                                </td>
                                                <td>
                                                    Content
                                                </td>
                                                <td>
                                                    Accept/Decline
                                                </td>
                                            </thead>
                                            <tbody>
                                                <script>var counter = 0 </script>
                                                {{#each messages}}
                                                <tr>
                                                    <td>
                                                        {{header}}
                                                    </td>
                                                    <td>
                                                        {{body}}
                                                    </td>
                                                    <td>
                                                        {{#if req_response}}
                                                        <button class="accept_btn">Accept</button>
                                                        <button class="decline_btn">Decline</button>
                                                        {{/if}}
                                                    </td>
                                                    

                                                <script>counter++</script>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        <script> document.getElementById('alertcounter').innerHTML = counter</script>
                                        {{else}}

                                        <div class="container"> <h2 class="text-center">No new messages</h2></div>

                                        {{/if}}
                                    </div>
                                       
                                    <div role="tabpanel" class="tab-pane" id="sent">
                                        {{#if sent}}
                                        <table class="table table-bordered inbox_tables">
                                            <thead>
                                            <td>
                                                Title
                                            </td>
                                            <td>
                                                Content
                                            </td>
                                           
                                            </thead>
                                            <tbody>
                                               
                                                {{#each sent}}
                                                <tr>
                                                    <td>
                                                        {{header}}
                                                    </td>
                                                    <td>
                                                        {{body}}
                                                    </td>
                                                  
               
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        
                                        {{else}}

                                        <div class="container"> <h2 class="text-center">You have no sent messages</h2></div>

                                        {{/if}}
                                    </div>
                                        <div role="tabpanel" class="tab-pane" id="pending">
                                            3
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Primary Instrument</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_profile.insName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Looking for</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_profile.lfg}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_profile.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_profile.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </br>
    </br>
    <input type="button" value="Search" class="btn btn-block g-button" onclick="window.location.href='/search/{{user_profile.id}}'">
</div>
